<<<<<<< HEAD
.up{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Titre{
    text-align: center;
}
.main{
    display: flex
;
    align-items: center;
    flex-flow: wrap;

}
.main-data{
    border-style: solid;
    border: black;
=======
.up{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Titre{
    text-align: center;
}
.main{
    display: flex
;
    align-items: center;
    flex-flow: wrap;

}
.main-data{
    border-style: solid;
    border: black;
>>>>>>> 4009fb4eae676317a7b9eb02737367a05a040e95
}